<div class="container">
  <h1>
    Usuario: {{ usuario.nombre }}
  <p>
    Contenido
  </p>

  {% for actividad in actividades %}
	  <div>
	    <h2>
	      {{ actividad.descripcion }}

	    </h2>
	    <h3>
	      {{ actividad.fecha }} por {{ actividad.precio }}
	    </h3>
	    <p>
	      {{ actividad.estadio.nombre }}
	    </p>
	  </div>
	  <hr />
  {% endfor %}

	<h2> Matriculas </h2>

  {% for matricula in matriculas %}
	  <div>
		<p> {{ matricula.usuario.nombre }} </p>
		<p> {{ matricula.actividad.descripcion }} </p>
	  </div>
  {% endfor %}


</div>

<div>
<form method="Post" action="../principal/">
    <input type="hidden" name="donde" value="1">
    <input type="hidden" name="us" value="{{usuario.pk}}">
  
<div>
    Precio
	 <select name="precio">
	  <option value="ninguno">ninguno</option>
	 {% for actividad in actividades %}
	  <option value="{{ actividad.precio }}">{{ actividad.precio }}</option>
	{% endfor %}
	</select> 
  </div>  

 <div>
    Estadio
	 <select name="estadioo">
	  <option value="ninguno">ninguno</option>
	 {% for actividad in actividades %}
	  <option value="{{ actividad.estadio.nombre }}">{{ actividad.estadio.nombre }}</option>
	{% endfor %}
	</select> 
  </div>  

  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Filtrar" />
  </div>
</form>
</div>



