<!DOCTYPE html>

<html lang="en-us" >
<head>
	<title>Visualizar</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>

<body>

    <!-- Header -->
    <div id="header">
        <div id="branding">       
	<img src="/static/images.jpg" border="1" width="50" height="40">
	</div>
        <div id="branding">       
	<h1 id="site-name">Actividades Derpotivas</h1>
	</div>
    </div>
    <!-- END Header -->

    <h3>{{usuario.nombre}}</h3>

<div>
<form method="Post" action="../estadio/">
    <input type="hidden" name="pag" value="1">
    <input type="hidden" name="us" value="{{usuario.pk}}">

	<div>
            Estadio
	       <select name="estadioo">
	          <option value="ninguno">ninguno</option>
	          {% for actividad in actividades %}
	          <option value="{{ actividad.estadio.nombre }}">{{ actividad.estadio.nombre }}</option>
	          {% endfor %}
	       </select> 
	</div>  

    <div>
       <label>&nbsp;</label><input type="submit" value="Filtar" />
    </div>
</form>
</div>

<center>
<div class="container">
  <br>
  <br>
  <h1><p>Contenido</p></h1>
  <hr>

  {% for actividad in actividades %}
	  <div>
	    <h2>
	      {{ actividad.descripcion }}

	    </h2>
	    <h3>
	      {{ actividad.fecha }}
	    </h3>
	    <p>
	      {{ actividad.precio }}
	    </p>
	    <p>
	      {{ actividad.estadio.nombre }}
	    </p>
	  </div>
	  <hr />
  {% endfor %}

</div>

</center>



<form method="Post" action="../principal/">
    <input type="hidden" name="pag" value="1">
    <input type="hidden" name="us" value="{{usuario.pk}}">

    <div class="submit-row">
       <label>&nbsp;</label><input type="submit" value="Regresar" />
    </div>
</form>


	<center>
	<div id="footer">Copyright Actividades Deportivas</div>
	</center>


<!-- END Container -->

</body>
</html>



