<!DOCTYPE html>

<html lang="en-us" >
<head>
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>

<body>
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">       
	<img src="/static/images.jpg" border="1" width="50" height="40">
	</div>
        <div id="branding">       
	<h1 id="site-name">Actividades Derpotivas</h1>
	</div>
    </div>
    <!-- END Header -->

    <h3>{{usuario.nombre}}</h3>

    <!-- Content -->
    <div id="content" class="colM">
	<div id="content-main">
		<form method="Post" action="../todos/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Visualizar Todas las actividades" />
		    </div>
		</form>
		<form method="Post" action="../precio/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Visualizar actividades por precio" />
		    </div>
		</form>
		<form method="Post" action="../estadio/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Visualizar actividades por estadio" />
		    </div>
		</form>
		<form method="Post" action="../matriculado/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Visualizar actividades matriculadas" />
		    </div>
		</form>
		<form method="Post" action="../ingreso/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Inscribirse a una actividad" />
		    </div>
		</form>
		<form method="Post" action="../salirse/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Quitarse de una actividad" />
		    </div>
		</form>
	</div>

        <br class="clear" />
    </div>
    <!-- END Content -->

	<center>
	<a href="../log/" > Salir <a>
	<div id="footer">Copyright Actividades Deportivas</div>
	</center>


</div>
<!-- END Container -->

</body>
</html>

